#aboutMe{
    max-width: 100%;
    height: auto;
    background-color: #fff;
}

.container{
    display: flex;
    padding: 40px;
    gap: 30px;
}

.foto figure{
    position: relative;
    background-color: #0b7030;
    box-shadow: 2px 5px 20px #000000;
}

.foto img{
    position: relative;
    right: 30px;
    top: 30px;
    width: 300px;
    height: 400px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 16px;
    padding-left: 15px;
    border-left: solid #067e48 3px;
}

.info h2{
    font-size: 35px;
    width: auto;
}

.info span{
    color: #065a34;
    font-weight: bold;
}

.info .btn-pdf{
    display: inline-block;
    margin-left: -5px; 
    text-decoration: none;
    background-color: #067e48;
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    animation: movimiento 3s ease-in-out infinite;
}

@keyframes movimiento{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(30px);
    }
}

@media(max-width:800px){
    .container{
        flex-direction: column;
    }
    .info{
        border-left: none;
        border-top: solid 3px #065a34;
        padding-left: 0;
        padding-top: 16px;
    }

}