.project{
    width: 500px;
    height: auto;
    background: linear-gradient(#11a74d,#000);
    box-shadow: 10px 10px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    border: solid 1px #fff;
    padding: 12px;
}

.project img{
    width: 100%;
}

.project h1{
    color: #fff;
    font-size: 30px;
}

.project p{
    color: #fff;
}

.enlaces-proyecto{
    display: flex;
    align-items: center;
    gap: 20px;
}

.enlaces-proyecto .icono-enlace{
    width: 80px;
}

@media (max-width:800px){
    .project{
        width: 340px;
    }
}