#services{
    max-width: 100%;
    height: auto;
    background: #0f0f0f;
}

.titulo-services{
    font-size: 40px;
    color: #fff;
    width: 400px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: linear-gradient(to right,#065a34,#11a74d,#065a34);
}

.contenedor-servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    place-items: center;
    place-content: center;
    margin-top: 20px;
}

@media (max-width: 800px){
    #services{
        height: auto;
    }
    .titulo-services{
        width: 330px;
        font-size: 35px;
        position: relative;
        top: 30px;
    }
    .contenedor-servicios{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }
}

@media (min-width: 801px) and (max-width:1300px){
    .titulo-services{
        position: relative;
        top: 60px;
    }
    #services{
        height: 100vh;
    }
    .contenedor-servicios{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-content: center;
        align-content: center;
        margin-top: 80px;
    }
    .titulo-services{
        background-attachment: initial;
    }
}