#skills {
    height: 120vh;
    width: 100%;
    position: relative;
    background-color: #0f0f0f;
}

.contenedor-skills {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
}

.contenedor-skills h1 {
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
}

@media (max-width:800px){
    #skills{
        height: 150vh;
    }
    .contenedor-skills{
        display: flex;
        flex-direction: column;
    }
    .wave{
        height: 130px;
    }
}