.logo-skill{
    width: 100px;
}

.nombre-skill{
    visibility: hidden;
    color: #fff;
}

.skill:hover > .nombre-skill{
    visibility: visible;
}

@media (max-width:800px){
    .logo-skill{
        width: 70px;
    }
}

@media (min-width:801px) and (max-width:1300px){
    .logo-skill{
        width: 130px;
    }
}