#skills {
    min-height: auto;
    max-height: 200vh;
    width: 100%;
    position: relative;
    background-color: #0f0f0f;
}

.titulo-skills {
    display: inline-block;
    margin-top: 30px;
    font-size: 40px;
    color: #fff;
    width: 400px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: linear-gradient(to right, #065a34, #11a74d, #065a34);
}

.contenedor-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    align-content: center;
    margin-top: 50px;
    gap: 20px;
    padding-bottom: 60px;
}

.contenedor-skills h1 {
    color: #fff;
    text-align: center;
}

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-logos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    align-content: center;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width:800px){
    #skills{
        height: auto;
        padding-bottom: 2250px;
    }
    .titulo-skills{
        width: 330px;
        font-size: 35px;
    }
    .contenedor-skills{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .skill-logos{
        grid-template-columns: repeat(2,1fr);
    }
    .wave{
        position: absolute;
        bottom: -10px;
        height: 200px;
    }
}

@media (min-width:801px) and (max-width:1300px){
    #skills{
        height: auto;
        padding-bottom: 90px;
    }
    .contenedor-skills{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .wave{
        position: absolute;
        bottom: -15px;
        height: 200px;
    }
}