#skills {
    min-height: auto;
    max-height: 200vh;
    width: 100%;
    position: relative;
    background-color: #0f0f0f;
}

.titulo-skills {
    display: inline-block;
    margin-top: 30px;
    font-size: 40px;
    color: #fff;
    width: 400px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: linear-gradient(to right, #065a34, #11a74d, #065a34);
}


.contenedor-skills {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 55px;
}

.contenedor-skills h1 {
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width:800px){
    #skills{
        height: 180vh;
    }
    .titulo-skills{
        width: 330px;
        font-size: 35px;
    }
    .contenedor-skills{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .wave{
        position: absolute;
        bottom: -10px;
        height: 200px;
    }
}

@media (min-width:801px) and (max-width:1300px){
    #skills{
        height: 180vh;
    }
    .contenedor-skills{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .wave{
        position: absolute;
        bottom: -10px;
        height: 200px;
    }
}