.skill{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skill img{
    width: 100px;
}

.nombre-skill{
    visibility: hidden;
    color: #fff;
}

.skill:hover .nombre-skill{
    visibility: visible;
}