.categoria-skills {
    width: 500px;
    min-height: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.logos-skills {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:800px){
    .categoria-skills{
        width: 300px;
        max-height: 320px;
        margin-bottom: 0;
    }
    .logos-skills{
        gap: 10px;
    }
}

@media (min-width:801px) and (max-width:1300px){
    .categoria-skills{
        width: 600px;
        max-height: 360px;
        margin-bottom: 30px;
    }
    .logos-skills{
        gap: 30px;
    }
}