.contact-link{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 20px;
    gap: 30px;
    background: linear-gradient(400deg,#022e1a,#06331f,#056e3f);
    box-shadow: 10px 10px 20px #000000;
}

.titulo-contact-link{
    color: #fff;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link img{
    width: 60px;
}

.link p{
    color:#fff;
    font-size: 17px;
}

@media (min-width:678px){
    .contact-link{
        width: 450px;
    }
    .link img{
        width: 70px;
    }
    .link p{
        font-size: 20px;
    }
}

@media (min-width:1200px){
    .contact-link{
        width: 400px;
        height: 500px;
        gap: 0px;
    }
    .link{
        gap: 4px;
    }
    .link img{
        width: 50px;
    }
    .link p{
        font-size: 20px;
    }
}

