.contact-link{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 60px;
    gap: 50px;
    background: linear-gradient(400deg,#022e1a,#06331f,#056e3f);
    position: relative;
    right: 15%;
    top: 15%;
    box-shadow: 10px 10px 20px #000000;
}

.titulo-contact-link{
    color: #fff;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link img{
    width: 60px;
}

.link p{
    color:#fff;
}

@media(max-width:800px){
    .contact-link{
        position: initial;
        width: 300px;
        align-items: center;
        gap: 0px;
        padding: 20px;
        height: auto;
        box-shadow: 5px 5px 12px #000000;
    }
    .titulo-contact-link{
        font-size: 50px;
        padding-bottom: 5px;
        border-bottom: solid 2px #fff;
    }
    .link{
        align-items: center;
        flex-direction: column;
    }
    .link img{
        width: 80px;
    }
    .link p{
        font-size: 19px;
    }
}