.contact-link{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 60px;
    gap: 50px;
    background: linear-gradient(60deg,#101010,#202020,#151515);
    position: relative;
    right: 15%;
    top: 15%;
    box-shadow: 10px 10px 20px #000000;
}

.titulo-contact-link{
    color: #fff;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link img{
    width: 60px;
}

.link p{
    color:#fff;
}