footer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.60)),url(/img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenido-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20% 0 20%;
}

.contenido-footer .miInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.contenido-footer .miInfo h1{
    color: #fff;
}

.contenido-footer .miInfo .logoBlanco{
    width: 220px;
    filter: invert(100%) brightness(200%);
    position: relative;
    bottom: 30px;
}

.contenido-footer .miInfo .enlaces-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
    gap: 20px;
}

.contenido-footer .miInfo .enlaces-contacto img{
    width: 70px;
}

.contenido-footer .links-rapidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contenido-footer .links-rapidos h1{
    color: #fff;
}

.contenido-footer .links-rapidos ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.contenido-footer .links-rapidos ul li a{
    color: #fff;
    padding: 10px;
    font-size: 15px;
}

.txt-copyright{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.txt-copyright a{
    color: #3acc8a;
}

@media (min-width:1200px){
    footer{
        height: 450px;
    }
    .contenido-footer{
        flex-direction: row;
    }
}