.contenedor-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
}

input{
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    border: none;
}

textarea{
    height: 150px;
    padding: 10px;
}

input[type="submit"]{
    border: none;
    width: 150px;
    padding: 10px;
    margin: auto;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
}

input[type="submit"]:hover{
    opacity: 80%;
}

@media(min-width:678px){
   
}