@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#menu {
    height: auto;
    max-width: 100%;
    background: linear-gradient(#1e9249b9, #0f9e5e63);
}

#menu .logo img {
    width: 150px;
    border-radius: 99999px;
    filter: grayscale(100%) brightness(100%) invert(100%);
}

#menu .navbar-toggler {
    background-color: #fff;
    font-size: 25px;
    margin-right: 40px;
}

#menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 100%;
    margin-left: 45px;
}

#menu .logo img {
    width: 160px;
}

#menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menu ul li a {
    font-size: 17px;
}

@media(min-width:678px) {
    #menu ul {
        flex-direction: row;
        margin-right: 40px;
    }
    #menu ul li a {
        margin-left: 12px;
        font-size: 17px;
    }
}

@media (min-width:1200px){
    #menu{
        background: linear-gradient(#1e9249b9,#0f9e5e63);
        height: 150px;
    }
    #menu ul{
        gap: 2px;
        margin-right: 40px;
    }
    #menu ul li a {
        margin-left: 20px;
        font-size: 17px;
    }
}