.project {
    width: 300px;
    height: 650px;
    background: linear-gradient(#11a74d, #000);
    box-shadow: 10px 10px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    border: solid 1px #ffffff;
    padding: 12px;
}

.project .imagen-proyecto {
    width: 100%;
}

.project h1 {
    color: #fff;
    font-size: 25px;
}

.project p {
    color: #fff;
    font-size: 15px;
    opacity: 80%;
}

.enlaces-proyecto {
    display: flex;
    align-items: center;
    gap: 20px;
}

.enlaces-proyecto a {
    text-decoration: none;
}

.enlaces-proyecto .icono-enlace {
    width: 80px;
}

.enlaces-proyecto .nombre-enlace {
    margin-top: 10px;
    visibility: hidden;
}

.enlaces-proyecto a:hover .nombre-enlace {
    visibility: visible;
    text-align: center;
}

.project:hover {
    transition: all .8s;
    background: linear-gradient(#0c6d33, #000)
}

.project:not(:hover) {
    transition: .8s;
    transform: scale(0px);
}

.btn-videoDemo {
    display: none;
}

.btn-videoDemo-mobile {
    border: none;
    background: linear-gradient(#11a74d, #0c6d33);
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    
}

.btn-videoDemo-mobile a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

@media (min-width:1200px) {
    .project {
        width: 300px;    }

    .btn-videoDemo-mobile {
        display: none;
    }

    .btn-videoDemo {
        display: flex;
        border: none;
        background: linear-gradient(#11a74d, #0c6d33);
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .btn-videoDemo:hover {
        background: linear-gradient(#0c6d33, #11a74d);
    }
}

@media (min-width:1440px) {
    .project {
        width: 400px;
    }
}