.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 100%;
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient(#15d85d,#0e7935);
    position: relative;
}

.servicio:hover{
    background: #0e7935;
}

.servicio .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 55px;
    height: 55px;
    padding: 7px;
    background-color: #fff;
    color: #0e7935;
    border-radius: 99999px;
    position: absolute;
    top: -30px;
    box-shadow: 10px 10px 30px #000;
}

.servicio h2{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 40px;
}

.servicio p{
    color: #fff;
}

@media (min-width: 678px){
    .servicio{
        width: 280px;
        height: 260px;
    }
}

@media (min-width: 1200px){
    .servicio{
        width: 300px;
        min-height: 100%;
    }
}