.skill{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill img{
    width: 70px;
}

.nombre-skill{
    visibility: hidden;
    color: #fff;
}

.skill:hover .nombre-skill{
    visibility: visible;
}

@media (min-width:678px){
    .skill{
        width: 120px;
    }
    .skill img{
        width: 90px;
    }
}

@media (min-width:1200px){
    .skill{
        width: 170px;
    }
    .skill img{
        width: 80px;
    }
}

@media (min-width:1440px){
    .skill{
        width: 150px;
    }
    .skill img{
        width: 100px;
    }
}