#contact{
    height: 175vh;
    width: 100%;
    background-color: #0f0f0f;
}

.tituloContact{
    font-size: 35px;
    color: #fff;
    width: 350px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: linear-gradient(to right, #065a34, #11a74d, #065a34);
    position: relative;
    top: 5%;
}

.contenido-contact{
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: auto;
    gap: 20px;
    padding: 15px;
    background: linear-gradient(150deg,#1c9c67,#0f8a57);
    margin: auto;
}

@media(min-width:678px){
    .contenido-contact{
        width: 600px;
    }
}

@media (min-width:1200px){
    #contact{
        height: 110vh;
    }
    .contenido-contact{
        top: 70px;
        flex-direction: row;
        width: 1000px; 
        gap: 60px;
        padding: 20px;
        height: 600px;
        position: relative;
    }
}

@media (min-width:1440px){
    #contact{
        height: 100vh;
    }
    .contenido-contact{
        top: 110px;
        width: 1200px;
        height: 600px;
    }
}