#contact{
    height: 120vh;
    width: 100%;
    background: linear-gradient(360deg,#097246,#09814f);
}

.tituloContact{
    font-size: 40px;
    color: #fff;
    width: 400px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: linear-gradient(to right,#101010,#202020,#151515);
    position: relative;
    top: 10%;
}

.contenido-contact{
    position: relative;
    top: 100px;
    display: flex;
    width: 850px;
    height: auto;
    padding: 15px;
    background: linear-gradient(150deg,#1c9c67,#0f8a57);
    margin: auto;
    box-shadow: 10px 10px 50px #000000;
}