#projects {
    height: auto;
    padding-bottom: 100px;
    max-width: 100%;
    background-color: #058049;
}

.tituloProjects {
    font-size: 35px;
    color: #fff;
    width: 350px;
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    position: relative;
    top: 60px;
    background: linear-gradient(to right, #101010, #202020, #151515);
}

.contenedor-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 120px;
}


.msg-more-projects {
    text-align: center;
    font-style: italic;
    color: #fff;
    margin-top: 20px;
    opacity: 0.8;
    font-size: 17px;
    animation: pulse 2s infinite;
}


@media (min-width:678px) {
    .contenedor-projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        place-items: center;
    }
}

@media (min-width:1200px) {
    .contenedor-projects {
        width: 950px;
        margin: auto;
        margin-top: 100px;
        gap: 100px;
    }

    .msg-more-projects {
        font-size: 25px;
    }

    .videoDemo-container {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        z-index: 1000;
    }

    .videoDemo-container-content{
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
    }

    .videoDemo-container-content video{
        width: 1000px;
        height: 600px;
    }

    .videoDemo-container-content-close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        border: none;
        background-color: #fff;
    }
}

@media (min-width:1440px) {
    .contenedor-projects {
        width: 1200px;
        margin: auto;
        margin-top: 100px;
        gap: 70px;
    }
}